@page "{id:int?}"
@model ProiectRestaurant.Pages.FoodTypes.IndexModel

@{
    ViewData["Title"] = "Remarks";
}

<h1>Remarks</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodType[0].FoodTypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FoodTypeData.FoodTypes)
        {
            string selectedRow = "";
            if (item.ID == Model.FoodTypeID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.FoodTypeName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.FoodTypeData.Restaurants != null)
{
    <h3>Menu items that contain this:</h3>
    <table class="table">

        @foreach (var item in Model.FoodTypeData.Restaurants)
        {
            string selectedRow = "";
            if (item.ID == Model.FoodTypeID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">

                <td>
                    @{
                        foreach (var b in item.FoodCategories)
                        {

                            @b.Restaurant.Dish_Name @: @b.Restaurant.Chefs.FullName

                            <br />
                        }
                    }
                </td>
            </tr>
        }
    </table>
}